<div class="pt-9">
    <h2>Parametrización de Asignaturas</h2>
</div>

@if (isSuccess) {
<div class="alert alert-success">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{successMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

@if (isError) {
<div class="alert alert-danger">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{errorMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

<div class="form-complete container mt-4">
    <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3" bs-progress-step>

        <form enctype="multipart/form-data" [formGroup]="loadSubjectParametrizationForm" (ngSubmit)="loadSubjectParametrization()">

            <div class="form-complete container">
                <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3">

                    <div class="input-group form-file" type-file="drag-drop" (dragover)="onDragOver($event)"
                        (dragleave)="onDragLeave($event)" (drop)="onDrop($event, fileInput)">
                        <label class="form-label required">Estudiantes</label>
                        <div class="form-description">Cargue el listado de los estudiantes que se encuentran en riesgo
                            por facultad</div>

                        <input #fileInput type="file" class="form-control d-none" accept=".xlsx,.xls,.ods"
                            (change)="onFileSelected($event)" />

                        <button class="upload-area" type="button" (click)="fileInput.click()">
                            <span class="material-symbols-outlined">upload_file</span>
                            <span class="upload-area-title">Arrastra y suelta tus archivos o</span>
                            <span class="upload-area-caption">Selecciona desde dispositivo</span>
                        </button>

                        <div class="invalid-feedback">Debes seleccionar un archivo</div>
                        <div class="form-info end">Archivos soportados: xlsx, xls, ods</div>
                        @if (selectedFileName) {
                        <div class="form-text is-files">
                            <p class="tag tag-tertiary-blue">
                            Archivo seleccionado: {{ selectedFileName }}
                            </p>
                        </div>
                        }

                    </div>

                    <div class="form-footer text-center mt-4">
                        <button class="btn btn-primary me-2" type="submit">
                            Cargar
                        </button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>

@if (isLoading) {
    <app-loading></app-loading>
}