<main class="body">
    <div
        class="vstack justify-content-center align-items-center py-7 px-4 flex-grow-1 flex-lg-row bg-primary-90 rounded-end-top-unal">


        <form class="bg-neutral-99 rounded-4 px-lg-20 px-8 py-14 w-lg-50" method="POST">
            <div class="vstack justify-content-center align-self-stretch gap-8">
                <h3 class="text-center text-neutral-30">
                    Registro
                </h3>

                <div class="vstack gap-3">
                    <div class="row row-cols-1 row-cols-lg-2 g-3">
                        <div>
                            <label class="form-label required">Nombres</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">person</span>
                                <input type="texto" name="nombres" class="form-control" placeholder="Ej. Juan Felipe"
                                    required>
                            </div>
                        </div>

                        <div>
                            <label class="form-label required">Apellidos</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">person</span>
                                <input type="texto" name="apellidos" class="form-control" placeholder="Ej. Ortiz Pérez"
                                    required>
                            </div>
                        </div>

                        <div>
                            <label class="form-label required">Login</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">mail</span>
                                <input type="texto" name="username" class="form-control" placeholder="Ej. juanfl"
                                    required>
                            </div>
                        </div>

                        <div>
                            <label class="form-label required">Cargo o Dependencia</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">mail</span>
                                <input type="texto" name="username" class="form-control"
                                    placeholder="Coordinador Unidad.." required>
                            </div>
                        </div>
                        <div>
                            <label class="form-label required">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">lock</span>
                                <input type="password" name="password" placeholder="Ej. asdf123-" class="form-control"
                                    required>
                                <span class="input-group-text end material-symbols-outlined">visibility</span>
                            </div>
                        </div>

                        <div>
                            <label class="form-label required">Confirmar contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text start material-symbols-outlined">lock</span>
                                <input type="password" name="confPassword" placeholder="Ej. asdf123-"
                                    class="form-control" required>
                                <span class="input-group-text end material-symbols-outlined">visibility</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" required checked>
                    <label class="form-check-label text-justify">
                        De acuerdo a la Ley 1581 de 2012 de Protección de Datos Personales, he leído, entendido y
                        aceptado los términos
                        descritos en la <a class="text-neutral fw-black"
                            href="https://legal.unal.edu.co/rlunal/home/doc.jsp?d_i=93798" target="_blank">Política
                            de Tratamiento de Datos Personales</a>.
                    </label>
                </div>
                <div class="vstack align-items-center justify-content-center gap-3">
                    <button class="btn btn-neutral btn-lg mb-3" type="submit" name="registro">Regístrarse</button>
                    <a href="/" class="link link-neutral text-center btn-lg">Iniciar sesión</a>
                </div>
            </div>
        </form>
    </div>
</main>