<!-- <main class="body">

    <div>
        <img src="assets/background/LogoM.png">
    </div>

</main> -->

<div class="modal fade show" tabindex="-1" id="exampleModal10" data-bs-backdrop="static" data-bs-keyboard="false"
    style="display: block; background-color: rgba(0, 0, 0, 0.425);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary"></div>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title m-0 text-center text-neutral-40">Cargando</h5>
                    </div>
                    <p class="text-neutral-40">Por favor, espere un momento.</p>
                </div>
            </div>
        </div>
    </div>
</div>