@if (loading) {
<main class="body">
    <div class="p-4 container">
        <div class="row d-flex flex-grow-1 g-4">
            <div class="col flex-grow-1 d-flex flex-column gap-4">
                <nav aria-label="breadcrumb" class="bg-neutral-100 rounded-5 py-2 px-3">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a routerLink="/index">Inicio</a></li>
                    </ol>
                </nav>

                <div class="d-flex flex-column gap-4 flex-grow-1">
                    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                        <div class="col card-sede" routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/minas.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Minas</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col card-sede " routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/arquitectura.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Arquitectura</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col card-sede" routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/humanas.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Ciencias Humanas y Económicas</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col card-sede" routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/agrarias.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Ciencias Agrarias</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col card-sede" routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/ciencias.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Ciencias</h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col card-sede" routerLink="/students/student-list">
                            <div class="bg-neutral-100 h-100 w-100 rounded-5 mouseClick">
                                <div class="text-center">
                                    <img class="img-fluid rounded-top-5" src="assets/facultades/cienciasVida.jpg">
                                    <div class="p-2">
                                        <h5 class="text-neutral-30">Facultad de Ciencias de la Vida</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
}
@else {

    <app-loading></app-loading>
}