<div class="col d-flex flex-column gap-3 p-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
                <a routerLink="/">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Cancelaciones
            </li>
        </ol>
    </nav>

    <div class="vstack gap-4">

        <div class="d-flex flex-column flex-md-row gap-2 py-5">
            <div>
                <h2>Asignaturas canceladas</h2>
            </div>
            <div class="flex-grow-1"></div>
        </div>

@if (isSuccess) {
<div class="alert alert-success">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{successMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

@if (isError) {
<div class="alert alert-danger">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{errorMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

<div class="form-complete container mt-4">
    <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3" bs-progress-step>



        <form enctype="multipart/form-data" [formGroup]="loadCancellationsForm" (ngSubmit)="loadCancellations()">

            <div class="form-complete container">
                <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3">

                    <div class="input-group form-file" type-file="drag-drop">
                        <label class="form-label required">Cancelaciones</label>
                        <div class="form-description">Este reporte se extrae de BI Publisher y se carga sin realizar
                            cambios</div>
                        <input type="file" class="form-control is-invalid" formControlName="file" 
                            accept=".xlsx,.xls,.ods" />

                        <button class="upload-area" type="button" data-bs-upload>
                            <span class="material-symbols-outlined">
                                upload_file
                            </span>
                            <span class="upload-area-title"> Arrastra y suelta tus archivos o </span>
                            <span class="upload-area-caption"> Selecciona desde dispositivo </span>
                        </button>

                        <div class="invalid-feedback">Debes seleccionar un archivo</div>
                        <div class="form-info end">Archivos soportados: xlsx, xls, ods</div>
                        <div class="form-text is-files">Archivos seleccionados:</div>

                        <ul class="file-list" data-bs-list-files></ul>
                    </div>

                    <div class="form-footer text-center mt-4">
                        <button class="btn btn-primary me-2" name="cargarCancelaciones" type="submit">
                            Cargar
                        </button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
</div>
</div>

@if (isLoading) {
    <app-loading></app-loading>
}