<div class="pt-9">
    <h2>Asignaturas con notas finales</h2>
</div>

@if (isSuccess) {
<div class="alert alert-success">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{successMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

@if (isError) {
<div class="alert alert-danger">
    <div class="alert-header">
        <div class="alert-icon">
            <span class="material-symbols-outlined">info</span>
        </div>
        <div class="alert-title">
            {{errorMessage}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}

<div class="form-complete container mt-4">
    <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3" bs-progress-step>

        <form enctype="multipart/form-data" [formGroup]="loadFinalGradesForm" (ngSubmit)="loadFinalGrades()">

            <div class="form-complete container">
                <div class="form-container container rounded-diag-secondary-5 rounded-diag-primary-3">

                    <div class="input-group form-file" type-file="drag-drop">
                        <label class="form-label required">Notas finales</label>
                        <div class="form-description">Este reporte se extrae de BI Publisher y se carga sin realizar
                            cambios</div>
                        <input type="file" class="form-control is-invalid" formControlName="file"
                            accept=".xlsx,.xls,.ods" />

                        <button class="upload-area" type="button" data-bs-upload>
                            <span class="material-symbols-outlined">
                                upload_file
                            </span>
                            <span class="upload-area-title"> Arrastra y suelta tus archivos o </span>
                            <span class="upload-area-caption"> Selecciona desde dispositivo </span>
                        </button>

                        <div class="invalid-feedback">Debes seleccionar un archivo</div>
                        <div class="form-info end">Archivos soportados: xlsx, xls, ods</div>
                        <div class="form-text is-files">Archivos seleccionados:</div>

                        <ul class="file-list" data-bs-list-files></ul>
                    </div>

                    <div class="form-footer text-center mt-4">
                        <button class="btn btn-primary me-2" name="cargarNotas" type="submit">
                            Cargar
                        </button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>

@if (isLoading) {
<div class="modal fade show" tabindex="-1" id="exampleModal10" data-bs-backdrop="static" data-bs-keyboard="false"
    style="display: block; background-color: rgba(0, 0, 0, 0.425);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary"></div>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title m-0 text-center text-neutral-40">Cargando</h5>
                    </div>
                    <p class="text-neutral-40">Por favor, espere un momento.</p>
                </div>
            </div>
        </div>
    </div>
</div>
}